
<div class="container p-5">

    <h1>Contactame</h1>
    <div class="row pt-5">
        <div class="col-7">
            <p class="pb-3">
                Estudiante del Instituto Tecnologico de Tijuana en la carrera de
                Ingenieria en Sistemas Computacionales.
            </p>
            <p>
                Residente y nacido Tijuana, B.C. con conocimientos basicos de
                programacion que abarcan los siguientes lenguajes:
            </p>
            <ul>
                <li>C#</li>
                <li>Java</li>
                <li>Python</li>
                <li>Assembly</li>
                <li>HTML</li>
                <li>JavaScript</li>
            </ul>

            <div>
                <h4 class="pb-4">Contactame</h4>

                <div class="row icons">
                    <div class="col">
                        <a href="https://www.facebook.com/serg.mika">
                            <img src="/images/facebook.png" alt="Mi Facebook" />
                        </a>
                    </div>
                    <div class="col">
                        <a href="https://twitter.com/SergioGMika">
                            <img src="/images/twitter.png" alt="Mi Twitter" /></a>
                    </div>
                    <div class="col">
                        <a href="mailto:sergio.gonzalez16@tectijuana.edu.mx">
                            <img src="/images/gmail.png" alt="Mi correo" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <img class="rounded" src="/images/sergioG.png" alt="Sergio Gonzalez" />
        </div>
    </div>
</div>
<br class="espacio">