<!-- Footer -->
<footer id="footer" class="page-footer font-small blue bg-dark text-light">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Sergio Gonzalez (15211300)
        <a href="/aboutme"> Sobre mi</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->